
.add-todo-container {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .add-todo-textfield {
    flex-grow: 1;
  }
  
  .add-todo-button {
    margin-left: 10px;
  }
  
  .add-todo-datepicker {
    margin-left: 10px;
  }
  