.grid {
    padding-bottom: 10px;
}

.todoCollection {
    max-width: 400px;
    margin: auto;
    padding-bottom: 40px;
}

.card {
    width: 300px;
    height: 100px;
}

.cardContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    text-align: left;
}

.button {
    max-width: fit-content;
    background-color: red;
    color: white;
    border-radius: 10px;
    border-color: transparent;
    flex: 0 0 auto;
}